/* Body - - - - - - - - - - - - - - - - - - - */
body {
	background-color: #aaa;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.07) 50%, transparent 0);
  	background-size: 180px 100%;
  	background-position: center;
}
/* Main - - - - - - - - - - - - - - - - - - - */
main.game {
	margin: 40px auto;
	width: 800px;
}
main.game header.title {
	background: url(../images/frog/title.png) no-repeat center;
	height: 60px;
	margin: 20px auto;
	width: 500px;
}
main.game section.hide {
	display: none;
}
/* Screen Home - - - - - - - - - - - - - - - - - - - */
main.game section.screen-home {
	background: url(../images/frog/bg-init.png) no-repeat center;
	height: 540px;
	position: relative;
	width: 800px;
}
main.game section.screen-home button,
main.game section.screen-credits button,
main.game section.screen-gameover button {
	border: none;
	cursor: pointer;
	height: 60px;
	left: 248px;
	position: absolute;
	width: 320px;
}
main.game section.screen-home button#btn-play {
	background: url(../images/frog/bt-play.png) no-repeat center;
	top: 200px;
}
main.game section.screen-home button#btn-credits {
	background: url(../images/frog/bt-credits.png) no-repeat center;
	top: 280px;
}
main.game section.screen-credits button#btn-back {
	background: url(../images/frog/bt-back.png) no-repeat center;
	bottom: 30px;
}
main.game section.screen-gameover button#btn-try {
	background: url(../images/frog/bt-try.png) no-repeat center;
	bottom: 30px;
}
/* Screen Play - - - - - - - - - - - - - - - - - - - */
main.game section.screen-play {
	background: url(../images/frog/road1.png) no-repeat center;
	height: 540px;
	position: relative;
	overflow: hidden;
	width: 800px;
}
main.game section.screen-play.river {
	background: url(../images/frog/river2.png) no-repeat center;
}
main.game section.screen-play ul.hearts {
	list-style: none;
	padding: 0px;
	position: absolute;
	margin: 0px;
	top: 8px; right: 4px;
	width: 156px;
	z-index: 3;
}
main.game section.screen-play ul.hearts li {
	display: inline-block;
	height: 43px;
	width: 49px;
}
main.game section.screen-play ul.hearts li.heart {
	background: url(../images/frog/heart-gray.png) no-repeat center;
	animation: none;
}	
main.game section.screen-play ul.hearts li.heart.active {
	background: url(../images/frog/heart.png) no-repeat center;
	animation: 1s animHearts ease-in infinite;
}
@keyframes animHearts {
	0%,100% { transform: scale(1)  }
	50%     { transform: scale(1.08) }
}
main.game section.screen-play div#frog {
	background: url(../images/frog/frog.png) no-repeat center;
	height: 60px;
	position: absolute;
	left: 368px; top: 480px;
	width: 64px;
	z-index: 1;
}
main.game section.screen-play div.car {
	background-repeat: no-repeat;
	background-position: center;
	height: 58px;
	position: absolute;
	width: 91px;
	z-index: 2;
}
main.game section.screen-play div.car.car0 {
	background-image: url(../images/frog/car1.png);
}
main.game section.screen-play div.car.car1 {
	background-image: url(../images/frog/car2.png);
}
main.game section.screen-play div.car.car2 {
	background-image: url(../images/frog/car3.png);
}
main.game section.screen-play div.car.car3 {
	background-image: url(../images/frog/car4.png);
}
main.game section.screen-play div.car.car4 {
	background-image: url(../images/frog/car5.png);
}
main.game section.screen-play div.car.car5 {
	background-image: url(../images/frog/car6.png);
}
/* River */
main.game section.screen-play.river div.car {
	height: 60px;
	width: 125px;
}
main.game section.screen-play.river div.car.car0 {
	background-image: url(../images/frog/croco1.png);
}
main.game section.screen-play.river div.car.car1 {
	background-image: url(../images/frog/croco2.png);
}
main.game section.screen-play.river div.car.car2 {
	background-image: url(../images/frog/croco3.png);
}
main.game section.screen-play.river div.car.car3 {
	background-image: url(../images/frog/croco4.png);
}
main.game section.screen-play.river div.car.car4 {
	background-image: url(../images/frog/croco5.png);
}
main.game section.screen-play.river div.car.car5 {
	background-image: url(../images/frog/croco6.png);
}

/* Screen Credits - - - - - - - - - - - - - - - - - - - */
main.game section.screen-credits {
	background: url(../images/frog/bg-credits.png) no-repeat center;
	height: 540px;
	position: relative;
	width: 800px;
}
/* Screen GameOver - - - - - - - - - - - - - - - - - - - */
main.game section.screen-gameover {
	background: url(../images/frog/bg-gameover.png) no-repeat center;
	height: 540px;
	position: relative;
	width: 800px;
}
